---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ml-updater-sa
  namespace: giovanamachado
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ml-updater-role
  namespace: giovanamachado
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["get", "list", "create", "delete"]
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ml-updater-binding
  namespace: giovanamachado
subjects:
- kind: ServiceAccount
  name: ml-updater-sa
  namespace: giovanamachado
roleRef:
  kind: Role
  name: ml-updater-role
  apiGroup: rbac.authorization.k8s.io
